<h1>Welcome!</h1>

<h2>Top 5 Trending in Philly Right Now:</h2>
<ul>
	<li><%= @trend1 %></li>
	<li><%= @trend2 %></li>
	<li><%= @trend3 %></li>
	<li><%= @trend4 %></li>
	<li><%= @trend5 %></li>
</ul>
